@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

#root {
  margin: 0 auto;
  padding: 2rem 1rem;
  background: #262626;
  overflow-x: hidden;
  text-align: center;
  color: white;
  min-height: 100vh;
}

*{
  font-family: 'Montserrat', sans-serif;
}